<div
  class="h-full w-100 d-flex justify-content-center align-items-center flex-column"
>
  <div class="messages">
    <ul>
      <li *ngFor="let message of messages">
        {{ message.nickname }}: {{ message.message }}
      </li>
    </ul>
  </div>
  <div class="message-form">
    <div class="d-flex gap-5">
      <div>
        <label>Nickname</label>
        <input [(ngModel)]="nickname" type="text" class="form-control" />
      </div>
      <div>
        <label>Mesaj</label>
        <input [(ngModel)]="messageToSent" type="text" class="form-control" />
      </div>
    </div>
    <button (click)="send()" class="btn-primary btn w-100 mt-2">Gönder</button>
  </div>
</div>
